// Navigation Styles here

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: @navigation-border;
    margin: 20px auto;
}

.anchors {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}